.container {
  cursor: pointer;
}

.rectangle {
  fill: white;
  filter: url(#component-shadow);
  transition: fill .1s;
}

.container:hover .rectangle {
  fill: #535E68;
}

.type {
  fill: rgb(39, 43, 48);
  opacity: .4;
  font-size: 12px;
  user-select: none;
  transition: fill .1s;
}

.container:hover .type {
  fill: white;
}

.title {
  font-weight: bold;
  fill: #3B424A;
  font-size: 14px;
  user-select: none;
  transition: fill .1s;
}

.container:hover .title {
  fill: white;
}

.more {
  fill: #BCBCBC;
}

.icon {
  fill: #929292;
  transition: fill .1s;
}

.container:hover .icon {
  fill: white;
}