.option {
  min-height: 48px;
  display: flex;
  align-items: center;
  transition: background-color .1s, color .1s;
  cursor: pointer;
  padding: 0 20px;
  color: black;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  white-space: nowrap;
  color: #272B30;
  line-height: 20px;
}

.option:hover, .active {
  background-color: #535E68;
  color: white;
}

.icon {
  margin-right: 15px;
  margin-left: -5px;
  transition: fill .1s;
  width: 28px;
}

.option:hover .icon,
.active .icon {
  fill: white;
}

.description {
  font-size: 13px;
  opacity: .5;
  line-height: 15px;
}