.container {
  box-sizing: border-box;
  width: 340px;
  height: 100%;
  box-shadow: 0 2px 6px 0 rgba(200,196,187,0.5);
  position: fixed;
  right: 0;
  top: 0;
  background-color: white;
  transition: transform .2s;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}

.visible {
  transform: translateX(0);
}

.hidden {
  transform: translateX(100%);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.type {
  color: #3B424A;
  font-size: 12px;
}

.title {
  margin-top: 5px;
  height: 32px;
  font-size: 18px;
  color: #3B424A;
  font-family: Hellix;
  font-weight: 600;
  outline: none;
  border: none;
  width: 100%;
  text-overflow: ellipsis;
}

.title:focus {
  box-shadow: 0 0 0 1px #DBDBDB;
}

.title::selection {
  background-color: #8080807a;
}

.closeIcon {
  flex-shrink: 0;
  margin-left: 10px;
  color: #272B30;
  opacity: .5;
  transition: opacity .1s;
  cursor: pointer;
}

.closeIcon:hover {
  opacity: 1;
}

.footer {
  margin-top: auto;
}

.deleteIcon {
  fill: black;
  opacity: .5;
  transition: opacity .2s;
  cursor: pointer;
}

.deleteIcon:hover {
  opacity: 1;
}

.interface {
  color: #272B30;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.interfaceValue {
  border-radius: 2px;
  background-color: #535E68;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 6px;
  padding: 4px 8px;
  font-size: 12px;
}

.label {
  color: #3B424A;
  margin-bottom: 5px;
  font-family: Roboto;
  font-size: 13px;
  line-height: 15px;
}

.param {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  height: 32px;
  border: 1px solid #DBDBDB;
  border-radius: 2px;
  font-size: 13px;
  color: #3B424A;
  font-family: Hellix;
  font-weight: 600;
  outline: none;
  width: 100%;
  text-overflow: ellipsis;
}